{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "arrowParens": "always",
  "vueIndentScriptAndStyle": false,
  "overrides": [
    { "files": "*.md", "options": { "printWidth": 200, "proseWrap": "preserve" } },
    { "files": "*.py", "options": { "tabWidth": 4 } }
  ]
}
